PORT=3000

# MONGODB_URI=mongodb://admin:miClaveVerano2026@ac-3uwgbcm-shard-00-00.fpz7r6f.mongodb.net:27017,ac-3uwgbcm-shard-00-01.fpz7r6f.mongodb.net:27017,ac-3uwgbcm-shard-00-02.fpz7r6f.mongodb.net:27017/MovieReview?ssl=true&replicaSet=atlas-x6xhrl-shard-0&authSource=admin&retryWrites=true&w=majority&appName=miClusterVerano
MONGODB_URI=mongodb://Guille:ulhL9b4Fa1ueEHl3@ac-jhsqbwj-shard-00-00.clrdywj.mongodb.net:27017,ac-jhsqbwj-shard-00-01.clrdywj.mongodb.net:27017,ac-jhsqbwj-shard-00-02.clrdywj.mongodb.net:27017/MovieReviewDB?ssl=true&replicaSet=atlas-zcac6m-shard-0&authSource=admin&appName=MovieReview

JWT_SECRET=MovieReview2026JWT