<aside class="fixed left-0 top-0 flex h-screen w-72 flex-col bg-[#212544] text-white shadow-xl">

  <!-- ================= Logo ================= -->

  <div class="flex h-20 items-center justify-center border-b border-slate-700 shrink-0">

    <h1 class="text-3xl font-bold">

      <span class="text-[#ebe8e0]">Film</span>
      <span class="text-[#e2ae69]">Talk</span>

    </h1>

  </div>

  <!-- ================= Contenido ================= -->

  <div class="flex-1 overflow-y-auto px-4 py-6">

    <!-- Administración -->

    <p class="mb-3 px-3 text-xs uppercase text-slate-400">

      Administración

    </p>

    @for(item of adminMenu(); track item.route){

    <a [routerLink]="item.route" routerLinkActive="bg-cyan-500 font-medium" [routerLinkActiveOptions]="{ exact: true }"
      class="mb-2 flex items-center gap-3 rounded-xl px-4 py-3 transition hover:bg-slate-800">

      <i></i>

      {{ item.title }}

    </a>

    }
    <!-- Separador -->

    <div class="my-6 border-t border-slate-700"></div>

    <!-- Navegación -->

    <p class="mb-3 px-3 text-xs uppercase text-slate-400">

      Navegación

    </p>

    @for(item of navigationMenu(); track item.route){

    <a [routerLink]="item.route" routerLinkActive="bg-cyan-500 font-medium" [routerLinkActiveOptions]="{ exact: true }"
      class="mb-2 flex items-center gap-3 rounded-xl px-4 py-3 transition hover:bg-slate-800">

      <i></i>

      {{ item.title }}

    </a>

    }

    <!-- Separador -->

    <div class="my-6 border-t border-slate-700"></div>

    <a routerLink="/login" (click)="logout()"
      class="w-full flex items-center gap-3 rounded-xl bg-red-600 px-4 py-3 transition hover:bg-red-700">

      Cerrar sesión

    </a>

  </div>

  <!-- ================= Footer ================= -->

  <div class="border-t border-slate-700 p-5 shrink-0">

    <div class="flex items-center gap-3">

      <div class="flex h-11 w-11 items-center justify-center rounded-full bg-cyan-500 text-lg font-bold">

        {{adminName().charAt(0).toUpperCase()}}

      </div>

      <div>

        <h3 class="font-semibold">

          {{adminName()}}

        </h3>

        <p class="text-sm text-slate-400">

          Administrador

        </p>

      </div>

    </div>

  </div>

</aside>
